<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Projects List"></app-page-title>

<div class="row mb-2">
    <div class="col-sm-4">
        <a [routerLink]="['../create']" class="btn btn-danger rounded-pill waves-effect waves-light mb-3"><i
                class="mdi mdi-plus"></i> Dodaj notatkę</a>
    </div>
    <div class="col-sm-8">
        <div class="text-sm-end">
            <div class="btn-group mb-3">
                <button type="button" class="btn btn-primary">Wszystkie</button>
            </div>
            <div class="btn-group mb-3 ms-1">
                <button type="button" class="btn btn-light">W trakcie</button>
                <button type="button" class="btn btn-light">Zakończone</button>
            </div>
            <div class="btn-group mb-3 ms-2 d-none d-sm-inline-block">
                <button type="button" class="btn btn-dark"><i class="mdi mdi-apps"></i></button>
            </div>
            <div class="btn-group mb-3 d-none d-sm-inline-block">
                <button type="button" class="btn btn-link text-dark"><i
                        class="mdi mdi-format-list-bulleted-type"></i></button>
            </div>
        </div>
    </div><!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-lg-4" *ngFor="let note of noteList">
        <div class="card project-box">
            <div class="card-body">
                <div class="float-end" ngbDropdown>
                    <a href="javascript:void(0)" class="card-drop arrow-none" ngbDropdownToggle>
                        <i class="mdi mdi-dots-horizontal m-0 text-muted h3"></i>
                    </a>
                    <div class="dropdown-menu-end" ngbDropdownMenu>
                        <a ngbDropdownItem [routerLink]="'.'">Edycja</a>
                        <a ngbDropdownItem [routerLink]="'.'">Usuń</a>
                        <a ngbDropdownItem [routerLink]="'.'">Dodaj użytkowników</a>
                        <a ngbDropdownItem [routerLink]="'.'">Ustaw datę zakończenia</a>
                    </div>
                </div> <!-- end dropdown -->
                <!-- Title-->
                <h4 class="mt-0">
                    <a [routerLink]="['../details']" [queryParams]="{id:note.id}" class="text-dark">
                        {{note.title}}</a>
                </h4>

                <!-- Desc-->
                <p class="text-muted font-13 mb-3 sp-line-2">{{note.shortDesc}}...<a [routerLink]="['../details']"
                                                                                     [queryParams]="{id:note.id}" class="fw-bold text-muted">view more</a>
                </p>
                <!-- Team-->
                <div class="avatar-group mb-3" id="tooltips-container">
                    <p>autor: {{note.owner.firstName}} {{note.owner.lastName}}</p>
                    <a href="javascript: void(0);" class="avatar-group-item" *ngFor="let member of note.contributors">
                        {{member.firstName }} {{member.lastName}}
                    </a>
                </div>

            </div>
        </div> <!-- end card box-->
    </div><!-- end col-->

</div>

<div class="row">
    <div class="col-12">
        <div class="text-center mb-3">
            <a href="javascript:void(0);" class="text-danger"><i class="mdi mdi-spin mdi-loading me-1"></i> Load more
            </a>
        </div>
    </div> <!-- end col-->
</div>
<!-- end row -->