<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Utwórz zadanie"></app-page-title>

<form (ngSubmit)="onSubmit()" #newProject="ngForm">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label for="projectname" class="form-label">Tytuł</label>
                                <input type="text" id="projectname" class="form-control" name="projectName" required
                                       placeholder="Podaj tytuł zadania" [(ngModel)]="title" #name="ngModel"
                                       [ngClass]="{'is-invalid': newProject.submitted && name.invalid}">
                            </div>

                            <div class="mb-3">
                                <label for="project-overview" class="form-label">Treść</label>
                                <textarea class="form-control" id="project-overview" rows="5" name="projectOverview"
                                          required placeholder="Opisz zadanie w kilku zdaniach.."
                                          [(ngModel)]="content" #overview="ngModel"
                                          [ngClass]="{'is-invalid': newProject.submitted && overview.invalid}"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Uprawnienia: </label> <br />
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="customRadio1" name="customRadio" value="OWNER"
                                           [(ngModel)]="permission" class="form-check-input">
                                    <label class="form-check-label" for="customRadio1">Tylko Autor</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="customRadio2" name="customRadio" value="CONTRIBUTOR"
                                           [(ngModel)]="permission" class="form-check-input">
                                    <label class="form-check-label" for="customRadio2">Zespół</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="customRadio3" name="customRadio" value="USER"
                                           [(ngModel)]="permission" class="form-check-input" checked>
                                    <label class="form-check-label" for="customRadio3">Publiczny</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Date View -->
                                    <div class="mb-3 position-relative">
                                        <label class="form-label">Data rozpoczęcia</label>
                                        <input type="text" class="form-control" id="startDate" autocomplete="off"
                                            name="startDate" ngbDatepicker placeholder="12.08.2024"
                                            #startDate="ngbDatepicker" (click)="startDate.toggle()" name="startDate"
                                            [(ngModel)]="toDoStartDate" />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <!-- Date View -->
                                    <div class="mb-3 position-relative">
                                        <label class="form-label">Data zakończenia</label>
                                        <input type="text" class="form-control" id="endDate" autocomplete="off"
                                            name="endDate" ngbDatepicker placeholder="15.08.2024"
                                            #endDate="ngbDatepicker" (click)="endDate.toggle()" name="endDate"
                                            [(ngModel)]="toDoEndDate" />
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">

                            </div>

                            <div class="mb-3">


                            </div>

                        </div> <!-- end col-->

                        <div class="col-xl-6">
                            <div>
                                <label for="project-overview" class="form-label">Zespół</label>
                                <select2 [data]="teamMembers" (update)="addMember($event)">
                                </select2>

                                <div class="mt-2" id="tooltip-container">
                                    <ng-container *ngFor="let member of selectedMembers; trackBy: trackByItemID">
                                        <a href="javascript:void(0);" placement="top" [ngbTooltip]="member.name"
                                            class="d-inline-block me-1">
                                            <img [src]="member.image" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                    </ng-container>
                                </div>
                            </div>


                        </div> <!-- end col-->
                    </div>
                    <!-- end row -->


                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-1"><i
                                    class="fe-check-circle me-1"></i> Utwórz</button>
                            <button type="button" class="btn btn-light waves-effect waves-light m-1"><i
                                    class="fe-x me-1"></i> Anuluj</button>
                        </div>
                    </div>

                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</form>