<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Szczegóły zadania"></app-page-title>

<div class="row">


</div>

<div class="row">
    <div class="col-xl-8 col-lg-6">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-body">
                <div class="float-end" ngbDropdown>
                    <a href="javascript:void(0)" class="card-drop arrow-none" ngbDropdownToggle>
                        <i class="dripicons-dots-3"></i>
                    </a>

                    <div class="dropdown-menu-end" ngbDropdownMenu>
                        <!-- item-->
                        <a ngbDropdownItem (click)="onContentEdit()"><i class="mdi mdi-pencil me-1"></i>Edytuj</a>
                        <!-- item-->
                        <a ngbDropdownItem (click)="openAlertModal(alertModal,'danger')"><i class="mdi mdi-delete me-1"></i>Usuń</a>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="projectname" class="form-label">Tytuł</label>
                    <input type="text" id="projectname" class="form-control" name="projectName" required
                           placeholder="Podaj tytuł zadania" [(ngModel)]="todo.title" #name="ngModel" [disabled]="contentEditDisable"
                           [ngClass]="{'is-invalid': name.invalid}">
                </div>
<!--                <div class="badge mb-3"-->
<!--                    [class]="selectedProject.state==='Finished' ? 'bg-success' : 'bg-secondary text-light'">-->
<!--                    {{selectedProject.state}}</div>-->
                <!-- <div class="badge bg-secondary text-light mb-3">Ongoing</div> -->

                <h5>Treść zadania:</h5>

                <textarea class="form-control" id="todo-overview" rows="5" name="todoOverview"
                          required placeholder="Opisz zadanie w kilku zdaniach.." [disabled]="contentEditDisable"
                          [(ngModel)]="todo.content" #overview="ngModel"
                          [ngClass]="{'is-invalid': overview.invalid}"></textarea>



                <div class="row">
                    <div class="col-lg-6">
                        <!-- Date View -->
                        <div class="mb-3 position-relative">
                            <label class="form-label">Data rozpoczęcia</label>
                            <input type="text" class="form-control" id="startDate" autocomplete="off"
                                   name="startDate" ngbDatepicker placeholder="12.08.2024" [disabled]="contentEditDisable"
                                   #startDate="ngbDatepicker" (click)="startDate.toggle()" name="startDate"
                                   [(ngModel)]="toDoStartDate" />
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <!-- Date View -->
                        <div class="mb-3 position-relative">
                            <label class="form-label">Data zakończenia</label>
                            <input type="text" class="form-control" id="endDate" autocomplete="off"
                                   name="endDate" ngbDatepicker placeholder="15.08.2024"
                                   #endDate="ngbDatepicker" (click)="endDate.toggle()" name="endDate"
                                   [(ngModel)]="toDoEndDate" [disabled]="contentEditDisable"/>
                        </div>
                    </div>
                </div>
                <div id="tooltips-container" >
                    <div>
                        <label class="form-label">Zespół</label>
                        <select2 [data]="teamMembers" (update)="addMember($event)" [disabled]="contentEditDisable">
                        </select2>

                        <div class="mt-2" id="tooltip-container">
                            <ng-container *ngFor="let member of selectedMembers; trackBy: trackByItemID" >
                                <a href="javascript:void(0);" placement="top" [ngbTooltip]="member.name"
                                   class="d-inline-block me-1">
                                    <img [src]="member.image" class="rounded-circle avatar-xs" alt="friend">
                                </a>
                            </ng-container>
                        </div>
                        <a href="javascript:void(0);" *ngFor="let member of todo.contributors"
                           class="d-inline-block" placement="top" [ngbTooltip]="member.firstName +' '+ member.lastName" >
                            <ngb-alert type="dark" (closed)="closeAlert(member)" [dismissible]="!contentEditDisable">
                                {{member.firstName +' '+member.lastName}}
                            </ngb-alert>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md4">

                    </div>
                    <div class="col-md4">

                    </div>
                    <div class="col-md4" *ngIf="!contentEditDisable">
                        <button type="button"
                                class="btn btn-white waves-effect waves-light" (click)="onContentSave()">
                            Zapisz
                        </button>
                    </div>
                </div>

            </div> <!-- end card-body-->

        </div> <!-- end card-->


    </div> <!-- end col -->

</div>
<!-- end row -->

<ng-template #alertModal let-modal>
    <div class="modal-body p-4">
        <div class="text-center ">
            <i class="dripicons-warning h1 text-white"></i>
            <h4 class="mt-2 text-white">Uwaga</h4>
            <p class="mt-3">Czy aby napewno chcesz usunąć zadanie ?</p>
            <button type="button" class="btn btn-light my-2" (click)="onContentDelete(modal)">Tak</button>
            <button type="button" class="btn btn-light my-2" (click)="modal.close('Close click')">Nie</button>
        </div>
    </div>
</ng-template>